footer#footer.l-footer
	div.container.cf
		ul.ftr-link
			li &copy; 2014 GitHub, Inc.
			li
				a(href="#") Terms
			li
				a(href="#") Privacy
			li
				a(href="#") Security
			li
				a(href="#") Contact
		ul.ftr-link.is-right
			li
				a(href="#") Status
			li
				a(href="#") API
			li
				a(href="#") Training
			li
				a(href="#") Shop
			li
				a(href="#") Blog
			li
				a(href="#") About
		a.is-text-hidden(href="/") Footer logo
	