.l-footer
	> .container
		padding 40px 0
		font-size 12px
		color rgb(119, 119, 119)
		line-height 1.5
		text-align center
		border-top 1px solid rgb(238, 238, 238)
		> a
			position relative
			top -20px
			left -20px
			display inline-block

.ftr-link
	float left
	> li
		display inline-block
		+ li
			margin-left 10px
.is-right
	float right
.is-text-hidden
	width 30px
	height 30px
	font-size 0
	color rgba(0, 0, 0, 0)
	text-indent -9999px
	background-image url('/img/octocat-spinner-32.gif')
	background-position center
	background-repeat no-repeat
