.l-header
	padding 15px 0
	border-bottom 1px solid rgb(229, 229, 229)
	text-shadow(0 1px 0 rgb(255, 255, 255))

.logo
	float left
	margin 0
	> a
		// font-size 15px
		color rgb(70, 70, 70)
		letter-spacing -1px
		transition(all 100ms ease-in 0s)
		&:hover
			color rgb(65, 131, 196)
			text-decoration none

.topSignIn
	float right
	display block
	margin-left 30px
	padding 7px 12px
	font-size 13px
	font-weight bold
	color rgb(51, 51, 51)
	border-radius(3px)
	vertical(rgb(252, 252, 252), rgb(245, 245, 245), rgb(238, 238, 238))
	text-shadow(0 1px 0 rgba(255, 255, 255, 0.9))
	&:hover
		// text-decoration none
		border-color rgb(204, 204, 204)
		vertical(rgb(238, 238, 238), rgb(231, 231, 231), rgb(224, 224, 224))
.nav
	float right
	margin-top 4px
.nav-body
	> li
		display inline-block
		+ li
			margin-left 5px
		> a
			display block
			padding 5px
			font-size 13px
			font-weight bold
			color rgb(51, 51, 51)
			transition(all 100ms ease-in 0s)
			&:hover
				color rgb(65, 131, 196)
				text-decoration none

.topSearchForm
	position absolute
	top 5px
	left 110px
	> label
		display none
		font-size 0
		color rgba(0, 0, 0, 0)
		text-indent -9999px
	> button
		position absolute
		right 0
		top 0
		display none
		width 20px
		height 20px
		font-size 0
		color rgba(0, 0, 0, 0)
		text-indent -9999px
		// background-color red
		&:before
			content ""
			display block